.password-container {
    position: relative;
}

.eyeButtons {
    user-select: none;
    pointer-events: all;
    background: none;
    padding: none;
    margin: none;
    height: 4rem;
    width: 2.5rem;
    border: none;
    border-radius: 80px;
    position: absolute;
}

.eyeButtons:hover  {
    cursor: pointer;
}

.eye-svg {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    pointer-events: none;
    user-select: none;
    height: 60%;
    width: 60%;
}

.eye-container {
    pointer-events: none;
    user-select: none
}

