html, body {
    height: 100%;
}
body {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
main {
    overflow: auto;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100vw 100vw;
    grid-template-rows: 100vh 100vh;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}
.slide {
    height: 105vh;
    width: 105vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    scroll-snap-align: start !important;
}
#first {
    background-color: red;
}
#second {
    background-color: gold;
}
#third {
    background-color: #2f2f2f;
}
#fourth {
    background-color: green;
}

.txt {
    height: clamp(2rem, 15rem, 30rem);
    width: clamp(5rem, 35rem, 70rem);
    color: black;
    background-color: white;
    border: none; outline: none;
    border-radius: 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.txt:hover { box-shadow: 8px 8px 16px white; }

h3 { font-size: clamp(0.1rem, 2.5rem, 3.5rem); }
p { font-size: clamp(0.1rem, 1.7rem, 3rem); }

.confetti {
    height: clamp(0.8rem, 2.5rem, 3.5rem); width: clamp(0.5rem, 1.5rem, 2.5rem);
    user-select: none; pointer-events: none;
    border: none; outline: none;
    border-radius: 100px;
    position: absolute;
    opacity: 1;
}
