{% extends "layout.html" %}
{% block main %}
    <style>
        body {
            overflow: hidden;
        }
        main {
            height: 100vh; width: 100vw;
            background-image: url('/static/images/forest.jpg');
            background-size: cover;      /* Scales the image to fill the screen */
            background-position: center; /* Keeps the middle of the forest in view */
            background-repeat: no-repeat;
        }
        #error {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 50px;
            color: black;
            text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
            background-color: red;
            border-radius: 50px;
            height: 30vh;
            width: 50vw;
            top: 30vh;
            left: 25vw;
        }
        #error:hover { box-shadow: 8px 8px 16px black; }
    </style>
    <div id="error">Error {{ error.code | default("") }}: {{ error.name | default("") }} - {{ error.message | default("") }}</div>
{% endblock %}
