<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/script.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/DrawSVGPlugin.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/MotionPathPlugin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollToPlugin.min.js"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="side-menu">
            {% if session["user_id"] %}
                <ul class="link1">
                    <li><a class="nav-link text-white my-nav-link" href="/strength">Strength Checker</a></li>
                </ul>
                <ul class="link2">
                    <li><a class="text-white my-nav-link" href="/password-generator">Password Generator</a></li>
                </ul>
                <ul class="link4">
                    <li><a class="my-nav-link" href="/passphrase-generator">Passphrase Password Generator</a></li>
                </ul>
                <ul class="link3">
                    <li><a class="text-white my-nav-link" href="/logout" id="logoutLink">Logout</a></li>
                </ul>
                <script type="module">
                    import { getAuth, signOut } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-auth.js";

                    const auth = getAuth();
                    const link = document.getElementById("logoutLink");

                    link.addEventListener("click", () => {
                        event.preventDefault();

                        signOut(auth).then(() => {
                            window.location.href = "/logout";
                        }).catch((error) => {
                            console.log(`Error logging out: ${error}`);
                        });
                    });
                </script>
            {% else %}
                <ul class="registration-links">
                    <li><a class="text-white my-nav-link" href="/register">Register</a></li>
                    <li><a class="text-white my-nav-link" href="/login">Log In</a></li>
                </ul>
            {% endif %}
        </div>
        <nav>
            <div id="navbar-site-title">
                <ul>
                    <li>
                        <button type="button" id="homeButton">
                            <span class="homeSVG-container"><img src="{{ url_for('static', filename='images/home.svg') }}" alt="Home" class="icon"></span>
                        </button>
                    </li>
                </ul>
                <a class="my-site-name text-white" href="/">Cybersecurity</a>
            </div>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <main class="text-center container-fluid">{% block main %}{% endblock %}</main>
    </body>

</html>
