{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block main %}
    <link href="/static/login.css" rel="stylesheet">
    <link href="/static/eye.css" rel="stylesheet">
    <script src="/static/form.js"></script>
    <script src="/static/script.js"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <style>
        .input-label {
            position: absolute;
            font-size: 20px;
            user-select: none;
            pointer-events: none;
            color: gold;
            left: 2rem;
        }
        #password + .input-label {
            top: 5.5rem;
        }
        #email + .input-label {
            top: 4.5rem;
        }

        input:focus + label, input:not(:placeholder-shown) + label {
            transform: translateY(-80%) scale(0.80);
            background: black;
        }

        .input-container, .password-container { position: relative !important; }

        #eyeButton1 {
            position: absolute;
            left: 75%;
            top: 50%;
        }
    </style>

    <div class="d-flex main-content">
        <form method="post" action="/login">
            <div class="input-container">
                <input name="email" type="text" id="email" placeholder=" " required>
                <label for="input" class="input-label">Email</label>
            </div>
            <div class="password-container">
                <button type="button" id="eyeButton1" class="eyeButtons"><span class="eye-container"></span></button>
                <input name="password" type="password" id="password" required autocomplete="off" placeholder=" ">
                <label for="input" class="input-label">Password</label>
            </div>
            <button type="submit" id="loginButton">Login</button>
        </form>
        <div id="error-container" class="alert alert-danger d-none" role="alert">
            <span id="error-msg"></span>
        </div>
        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-app.js";
            import { getAuth, signInWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-auth.js";
            const firebaseConfig = {
                apiKey: "AIzaSyCUnrHCSR--zlWKLVGyzHSrO3anjSnpuww",
                authDomain: "pw-generator-site.firebaseapp.com",
                projectId: "pw-generator-site",
                storageBucket: "pw-generator-site.firebasestorage.app",
                messagingSenderId: "784808416311",
                appId: "1:784808416311:web:04fa57018d6ecc24b75bb2"
            };
            const app = initializeApp(firebaseConfig);
            const auth = getAuth(app);

            document.getElementById('loginButton').addEventListener('click', async (event) => {
                event.preventDefault();

                try {
                    const email = document.querySelector('#email').value;
                    const pw = document.querySelector('#password').value;

                    const credentials = await signInWithEmailAndPassword(auth, email, pw);
                    const user = credentials.user;

                    const token = await user.getIdToken();
                    
                    const response = await fetch('/create-session', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ token: token })
                    });

                    if (response.ok) {
                        window.location.href = '/';
                    }
                } catch(error) {
                    document.getElementById("error-msg").content = error.message;
                    document.getElementById("error-container").classList.remove('d-none');

                    console.log(`Login failed: [ code: ${error.code}, message: ${error.message} ]`);
                }
            });
        </script>
    </div>
{% endblock %}
