{% extends "layout.html" %}
{% block title %}Password Generator{% endblock %}
{% block main %}
    <script src="/static/script.js"></script>
    <link href="/static/styles.css" rel="stylesheet">

    <script>
        async function generate(length, array) {
            if (!array) { return -1 }
            if (array.length < 1) { return -1 }

            const data = await fetch('/password-generator', {
                method: 'POST',
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({
                    "length": length, "pool": array
                })
            });

            const bad = -1;
            const response = await data.json();
            if (response.ok === false) {
                console.log("App error.");
                return bad;
            }
            if (response["pw"] === bad) {
                console.log("App error2.");
                return bad;
            }
            return response["pw"];
        }

        document.addEventListener("DOMContentLoaded", () => {
            const input = document.querySelector("#length");
            const label = document.querySelector("[for='length']");
            label.classList.add("hidden");
            input.addEventListener("focus", () => {
                label.classList.remove("hidden");
            });
            input.addEventListener("blur", () => {
                label.classList.add("hidden");
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#generate").addEventListener("click", async function() {
                const informer = document.querySelector("#result");
                const len = (document.querySelector("#length")).value;
                if (/^\d+$/.test(len) != true || len < 0) {
                    informer.textContent = "Invalid length";
                } else {
                    const checkboxes = Array.from(document.querySelectorAll("input[type='checkbox']"));
                    const myDict = {
                        0: "common_punctuation",
                        1: "extra_punctuation",
                        2: "digits",
                        3: "uppercase_letters",
                        4: "lowercase_letters",
                    }
                    const user_pool = [];
                    for (let i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked === true) {
                            user_pool.push(myDict[i]);
                        }
                    }
                    if (user_pool.length < 0) {
                        informer.textContent = "Select one of the checkboxes.";
                    } else {
                        console.log(user_pool[0]);
                        const pw = await generate(len, user_pool);
                        if (pw === -1) {
                            informer.textContent = "Invalid Input.";
                        } else {
                            informer.textContent = pw;

                            const hole = document.querySelector('.hole');
                            const btn = document.querySelector("#guy");
                            hole.classList.add('hidden');
                            gsap.registerPlugin(DrawSVGPlugin);
                            gsap.registerPlugin(MotionPathPlugin);
                            gsap.set(".tick", {drawSVG: 0});
                            btn.addEventListener('click', () => {
                                gsap.to(".tick", {duration: 1, drawSVG: "100%"});
                                hole.classList.remove('hidden');
                                gsap.to(".hole", {duration: 0.2, ease: "power1.inOut", scale: 3});
                                const tl = gsap.timeline({delay: 2})
                                tl.to("#clipboard", {duration: 0.3, ease: 'power1.inOut', scale: 0.5})
                                .to("#clipboard", {opacity: 0, duration: 1, ease: "power1.inOut",
                                motionPath: {path: '.hole-path', align: '.hole-path', alignOrigin: [0.46, 0.78]}})
                                .to(".hole", {duration: 0.2, ease: "power1.inOut", scale: 0})
                                .to(btn, {duration: 0.2, ease: "power1.inOut", borderRadius: 50, width: 150})
                                .set(btn, { textContent: "Copied!" });
                            });
                        }
                    }
                }
            });
        });
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        main {
            background-color: #e0e0e0;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .password:hover { border-color: blue; }
        #generate {
            height: 10vh;
            width: 20vw;
            color: white;
            font-size: 30px;
            border: none;
            border-radius: 80px;
            background-color: blue;
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
            margin-top: 12vh;
        }
        #generate:hover { background-color: black; }
        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: none;
            position: absolute;
            top: 270px;
        }
        .inputs {
            display: flex;
            gap: 5vw;
            align-content: center;
        }
        #length {
            height: 10vh;
            width: 20vw;
            color: white;
            background-color: #000035;
            border: none;
            border-radius: 80px;
            margin-top: 12vh;
            font-size: 30px;
        }
        #length:focus {
            caret-color: white;
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6);
            outline: none;
        }
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            display: none;
        }
        label[for="length"] {
            position: absolute;
            font-size: 20px;
            user-select: none;
            pointer-events: none;
            color: white;
            left: 20px;
            top: 120px;
            font-size: 20px;
            background-color: #000035;
        }
        #length:focus ~ label[for="length"] {
            transform: translateY(-2%) translateX(-5%) scale(0.80);
            padding: 0 4px;
        }
        #length::placeholder {
            color: white;
            position: relative;
            right: 25px;
            bottom: 10px;
            font-size: 20px;
            opacity: 0.6;
        }
        #length:focus::placeholder, #length:not(:placeholder-shown)::placeholder { color: transparent; }
        .hidden { display: none; }

        .row1 { margin-top: 5vh; }
        .row1, .row2 {
            display: flex;
            gap: 5vw;
            align-items: center;
            position: relative;
            left: 200px;
        }
        .row2 { margin-top: 10vh; }
        .row3 {
            display: flex;
            justify-content: center;
            margin-top: 7vh;
        }
        .checkbox-stuff {
            position: relative;
            display: flex;
            left: 10px;
            align-items: center;
        }
        .check { display: none; }
        .checkmark {
            height: 60px;
            width: 60px;
            border: none;
            border-radius: 10px;
            position: relative;
            background-color: white;
            cursor: pointer;
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
        }
        .checkbox-container {
            margin: 0;
        }
        .check:checked + .checkmark {
            background-color: red;
            border: none;
        }
        .check:checked + .checkmark::after {
            content: "✔";
            position: absolute;
            color: green;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 90px;
            font-family: Arial, sans-serif;
        }
        #check2 { margin-left: 50px; }
        .wonky-one { margin-left: 170px; }

        .tick {
            stroke: green;
            stroke-width: 20px;
            outline: none;
            border: none;
            fill: none;
            stroke-linejoin: round;
            stroke-linecap: round;
        }
        #guy {
            margin-top: 100px;
            width: 300px;
            height: 150px;
            font-size: 30px;
            color: white;
            border: none;
            background-color: blue;
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7);
            border-radius: 30px;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            position: relative;
            overflow: hidden;
        }
        #guy:hover { cursor: pointer; }
        #guy:focus { outline: none; }
        img {
            height: 90px;
            width: 65px;
            display: block;
            filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.5));
        }
        .container {
            display: block;
            position: relative;
        }
        .tick-container {
            top: 10%;
            right: 30%;
            height: 50%;
            width: 50%;
            position: absolute;
        }
        ellipse { fill: black; }
        .hole {
            position: absolute;
            left: 6px;
            top: 50%;
            transform: translate(-5%, -45%);
            width: 100%;
            height: 100%;
        }
        .hole-path {
            fill: none;
            border: none;
        }
        .hole-path-container {
            opacity: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 55px;
            left: 15px;
        }
        #clipboard {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        .checkbox-info {
            display: flex;
            position: relative;
            font-size: 25px;
            color: black;
            text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            margin-left: 20px;
        }

        #result {
            border: none;
            outline: none;
            display: flex;
            font-size: 30px;
            color: black;
            text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
            background-color: #40e0d0;
            filter: blur(10px);
            transition: filter 0.3 ease;
            user-select: none;
            height: 200px;
            width: 400px;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: none; padding: none;
            position: absolute;
            top: 130px;
        }
        #result:hover {
            filter: blur(0);
            box-shadow: 8px 8px 16px #40e0d0;
        }
    </style>

    <div id="result"></div>
    <div class="form">
        <div class="inputs">
            <input type="number" autofocus autocomplete="off" name="length" id="length" required placeholder="Length">
            <label for="length">Length</label>
            <button type="button" id="generate">Generate</button>
            <button type="button" id="guy">
                Copy
                <div class="container">
                    <svg class="hole" viewBox="0 0 100 135"><ellipse cx="50" cy="90" rx="15" ry="5"></ellipse></svg>
                    <div id="clipboard">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Clipboard_01.svg">
                        <svg class="tick-container" viewBox="0 0 200 200"><path class="tick" d="M50 100 L90 150 L170 87"></svg>
                    </div>
                    <svg class="hole-path-container" viewBox="0 0 200 300"><path class="hole-path" d="M40 10 L40 200"></path></svg>
                </div>
            </button>
        </div>

        <div class="checkboxes">
            <div class="row1">
                <div class="checkbox-stuff">
                    <input type="checkbox" name="check" class="check" id="check1">
                    <label for="check1" class="checkmark"></label>
                    <p class="checkbox-info">Common Punctuation</p>
                </div>
                <div class="checkbox-stuff">
                    <input type="checkbox" name="check" class="check" id="check2">
                    <label for="check2" class="checkmark"></label>
                    <p class="checkbox-info">Extra Punctuation</p>
                </div>
            </div>
            <div class="row2">
                <div class="checkbox-stuff">
                    <input type="checkbox" name="check" class="check" id="check3">
                    <label for="check3" class="checkmark"></label>
                    <p class="checkbox-info">Digits</p>
                </div>
                <div class="checkbox-stuff wonky-one">
                    <input type="checkbox" name="check" class="check" id="check4">
                    <label for="check4" class="checkmark"></label>
                    <p class="checkbox-info">Uppercase Letters</p>
                </div>
            </div>
            <div class="row3">
                <div class="checkbox-stuff">
                    <input type="checkbox" name="check" class="check" id="check5">
                    <label for="check5" class="checkmark"></label>
                    <p class="checkbox-info">Lowercase Letters</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
