{% extends "layout.html" %}
{% block title %}Password Strength{% endblock %}
{% block main %}
    <script src="/static/script.js"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/forms.css" rel="stylesheet">
    <script>
        async function strength(pword) {
            const tmp = await fetch('/strength', {
                method: 'POST',
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({"string": pword})
            });

            const response = await tmp.json();
            if (response.ok === false) {
                console.log("error");
                return -1;
            }

            return response["strength"];
        }
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("submit").addEventListener("click", async function(event) {
                event.preventDefault();

                const input = document.querySelector('#password');
                input.style.color = 'white';
                input.style.borderColor = 'white';
                input.setAttribute("placeholder", "Test PW.");

                const pw = input.value.replace(/\s+/g, "");
                if ((!pw) || (pw === "")) {
                    input.value = "";
                    console.log("Invalid input.");
                    input.setAttribute("placeholder", "Invalid input.");
                    input.style.color = 'red';
                    input.style.borderColor = 'red';
                    return;
                }

                const Strength = await strength(pw);
                if (Strength === -1) {
                    console.log('Response error.');
                    document.querySelector('#error').textContent = "Response error.";
                    return;
                }

                console.log(`strength: ${Strength}`);
                document.querySelector('.strength').textContent = `${Strength}%`;
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const input = document.querySelector("#password");
            const label = document.querySelector("[for='password']");
            label.classList.add("hidden");
            input.addEventListener("focus", () => {
                label.classList.remove("hidden");
            });
            input.addEventListener("blur", () => {
                label.classList.add("hidden");
            });
        });
    </script>
    <style>
        main {
            background-color: gold;
            height: 100vh;
            width: 100vw;
        }
        form {
            display: inline-block;
            height: 100%;
            width: 100%;
        }
        #password {
            height: 10vh;
            width: 20vw;
            background-color: #D21404;
            color: white;
            border: none;
            border-radius: 40px;
            caret-color: white;
            position: relative;
        }
        #password:focus {
            border: none;
            box-shadow: 8px 8px 16px #900D09;
            color: white;
            outline: none;
        }
        #password::placeholder { color: white; }
        #submit {
            position: absolute;
            top: 20;
            border: none;
            background-color: black;
            color: white;
            font-size: 25px;
            border-radius: 80px;
            height: 15vh;
            width: 20vw;
            position: relative;
            margin-left: 5vw;
            text-shadow: 8px 8px 16px white;
        }
        #submit:hover { box-shadow: 8px 8px 16px black; }
        #error {
            color: red;
            font-size: 2rem;
            text-shadow: 8px 8px 16px #ED2939;
        }
        .strength {
            color: #000080;
            font-size: 50px;
            height: 40vh;
            width: 100vw;
        }
        label[for="password"] {
            position: absolute;
            font-size: 20px;
            user-select: none;
            pointer-events: none;
            color: white;
            left: 480px;
            top: 315px;
            background-color: #D21404;
        }
        #password:focus ~ .password-label {
            transform: translateY(-4%) translateX(-4%) scale(0.80);
            background-color: #D21404;
            padding: 0 4px;
        }
        #password::placeholder {
            color: white;
            position: relative;
            right: 25px;
        }
        #password:focus::placeholder, #password:not(:placeholder-shown)::placeholder { color: transparent; }

        .hidden { display: none; }
    </style>
    <script>
    </script>

    <form method="post" id="form">
        <input type="password" autofocus autocomplete="off" name="password" id="password" required placeholder="Test PW">
        <label for="password" class="password-label">Test PW</label>
        <button type="button" id="submit">Check Strength</button>
        <p id="error"></p>
        <p class="strength"></p>
    </form>
{% endblock %}
