{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
    <link rel="stylesheet" href="/static/register.css">
    <link rel="stylesheet" href="/static/eye.css">
    <script src="/static/form.js"></script>
    <script src="/static/script.js"></script>
    <link href="/static/styles.css" rel="stylesheet">
    <style>
        .email-container, .password-container {
            position: relative;
        }
        label[for="input"] {
            position: absolute;
            font-size: 20px;
            user-select: none;
            pointer-events: none;
            color: gold;
            left: 35px;
        }

        .email:focus + .input-label, .password:focus + .pw-label1, .password:focus + .pw-label2 {
            transform: translateY(-100%) scale(0.80);
            background: black;
        }
    </style>

    <div class="main-content d-flex">
        <form method="post" action="/register">
            <div class="email-container">
                <input name="email" type="text" class="email" required autocomplete="off" autofocus placeholder=" " id="email">
                <label for="input" class="input-label">Email</label>
            </div>
            <div class="password-container">
                <button class="eyeButtons" type="button" id="eyeButton1">
                    <span class="eye-container"></span>
                </button>
                <input name="password" type="password" class="password" required autocomplete="off" placeholder=" " id="password">
                <label for="input" class="pw-label1">Password</label>
            </div>
            <div class="password-container">
                <button class="eyeButtons" id="eyeButton2" type="button">
                    <span class="eye-container"></span>
                </button>
                <input name="confirmation" type="password" class="password" required autocomplete="off" placeholder=" " id="passwordConfirmation">
                <label for="input" class="pw-label2">Confirm Password</label>
            </div>

            <button type="submit" required class="register" id="registerButton">Register</button>
        </form>
        <div id="error-container" class="alert alert-danger d-none" role="alert">
            <span id="error-msg"></span>
        </div>
        <script type="module">
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-app.js";
            import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/10.0.0/firebase-auth.js";
            const firebaseConfig = {
                apiKey: "AIzaSyCUnrHCSR--zlWKLVGyzHSrO3anjSnpuww",
                authDomain: "pw-generator-site.firebaseapp.com",
                projectId: "pw-generator-site",
                storageBucket: "pw-generator-site.firebasestorage.app",
                messagingSenderId: "784808416311",
                appId: "1:784808416311:web:04fa57018d6ecc24b75bb2"
            };
            const app = initializeApp(firebaseConfig);
            const auth = getAuth(app);

            document.querySelector("#registerButton").addEventListener("click", async (event) => {
                event.preventDefault();

                const email = document.getElementById("email");
                const pw = document.querySelector("#password");
                const confirmed = document.getElementById("#passwordConfirmation");

                const errorDiv = document.querySelector("#error-msg");
                const errorContainer = document.getElementById("error-container");

                if (pw.value != confirmed.value) {
                    errorDiv.content = "Password and Confirmation don't match";
                    errorContainer.classList.remove("d-none");
                }

                try {
                    const credentials = await signInWithEmailAndPassword(auth, email, pw);
                    const user = credentials.user;

                    const token = await user.getIdToken();
                    
                    const response = await fetch('/create-session', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ token: token })
                    });

                    if (response.ok) {
                        window.location.href = '/';
                    }

                } catch(error) {
                    document.getElementById("error-msg").content = error.message;
                    document.getElementById("error-container").classList.remove('d-none');

                    console.log(`Registration failed: [ code: ${error.code}, message: ${error.message} ]`);
                }
            });
        </script>
        <svg viewBox="0 0 1920 1080" class="arrows">
            <g class="arrow2">
                <path class="path2" d="M 700 650 Q 50 700 420 400 Q 520 500 270 600 T 200 210"></path>
                <polygon class="arrow-head2" points="700 700, 800 650, 700 600"></polygon>
            </g>
            <g class="arrow1">
                <polygon class="arrow-head" points="700 700, 800 650, 700 600"></polygon>
                <path class="path1" d="M 700 650 Q 50 700 420 400 Q 520 500 270 600 T 200 210"></path>
            </g>
        </svg>
    </div>
{% endblock %}
